@model MUSF.Domain.Entities.Perfil

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Perfil</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExcluidoPor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExcluidoPor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExcluidoEm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExcluidoEm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlteradoEm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlteradoEm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlteradoPor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlteradoPor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
